name: MainBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DOTNET_VERSION: '5.0.x'

jobs:
  build:

    runs-on: windows-latest
    defaults:
      run:
        working-directory: 'src'

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
      # Restore nuget packages
    - name: Restore dependencies
      run: dotnet restore
      
      # build the source
    - name: Build
      run: dotnet build --no-restore
      
      # Run the unit tests
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
      # Publish to NuGet
    - name: publish on version change
      id: publish_nuget
      uses: rohith/publish-nuget@v2
      with:
        # Filepath of the project to be packaged, relative to root of repository
        PROJECT_FILE_PATH: src\GoogleSheetsWrapper\GoogleSheetsWrapper.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
