name: MainBuild

on:
  push:
    branches: [ main ]
    paths-ignore: 
      - '**/README.md'
  pull_request:
    branches: [ main ]

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'src'

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
      # Restore nuget packages
    - name: Restore dependencies
      run: dotnet restore
      
      # build the source
    - name: Build
      run: dotnet build --no-restore
      
      # Run the unit tests
    - name: Unit Tests
      run: dotnet test GoogleSheetsWrapper.Tests.csproj --no-build --verbosity normal
      working-directory: 'src/GoogleSheetsWrapper.Tests'

      # Run the integration tests
    - name: Integration Tests
      run: dotnet test GoogleSheetsWrapper.IntegrationTests.csproj --no-build --verbosity normal
      working-directory: 'src/GoogleSheetsWrapper.IntegrationTests'