name: MainBuild

on:
  push:
    branches: [ main ]
    paths-ignore: 
      - '**/README.md'
  pull_request:
    branches: [ main ]

env:
  DOTNET_VERSION: '6.0.x'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'src'

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
      # Restore nuget packages
    - name: Restore dependencies
      run: dotnet restore
      
      # build the source
    - name: Build
      run: dotnet build --no-restore
      
      # Run the unit tests
    - name: Test
      run: dotnet test --no-build --verbosity normal