name: ReleaseBuild

on:
  release:
    types: [published]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DOTNET_VERSION: '6.0.x'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'src'

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
      # Restore nuget packages
    - name: Restore dependencies
      run: dotnet restore
      
      # build the source
    - name: Build
      run: dotnet build --no-restore --configuration Release
      
      # Run the unit tests
    - name: Test
      run: dotnet test --no-build --verbosity normal

      # Package the Nuget file locally
    - name: Pack
      run: dotnet pack --configuration Release
      
      # Publish the Nuget file to Nuget.org
    - name: PushNuget
      run: dotnet nuget push **/*GoogleSheetsWrapper.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
      
      # Publish the Nuget file to Github
    - name: PushGithub
      run: dotnet nuget push **/*GoogleSheetsWrapper.nupkg --no-symbols --skip-duplicate
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}